{% extends 'layouts/base.html' %}

{% block breadcrumb %}
    {% if data_dict %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for link in data_dict.links %}
                    <li class="breadcrumb-item">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                <li class="breadcrumb-item active" aria-current="page">{{ data_dict.current }}</li>
            </ol>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}

    <header>        
        <h1>Bienvenu dans mon site de fantasy</h1>
        <a href="{% url 'list_photos' %}">Photos de fantasy</a>
    </header>

    <main>

    </main>


{% endblock %}