{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<header>        
    <h1>Liste de photos de fantasy</h1>
</header>

<main class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for image in images %}
            <div class="col">
                <div class="card h-100 shadow-sm">

                                  
                    <!-- Nom de l'image en bas de la carte -->
                    <div class="card-body">
                        <a href="{% url 'carde' %}?img={{ image }}">
                            <img src="{% static image %}" class="card-img-top" alt="{{ image }}">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ image }}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
